head
    meta(charset='utf-8')
    title #{title.intro} #{title.main} - A Receita
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="description", content="#{title.intro} #{title.main} - A Receita")

    meta(property="fb:admins", content="100000504340213")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(http-equiv="cleartype", content="on")
    meta(name="HandheldFriendly", content="True")

    link(rel="icon", href="#{path}/favicon.ico")

    meta(property="og:image", content="http://oswaldoacauan.github.io/keep-up-to-date-brazuca/#{path}/assets/share.png")

    link(rel="stylesheet", href="#{path}/css/styles.min.css")
    link(rel="stylesheet", data-async="#{path}/css/data-uri.css")